{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ReadOnlyTheConfiguredMarketplaceSecret",
      "Effect": "Allow",
      "Action": [
        "secretsmanager:DescribeSecret",
        "secretsmanager:GetSecretValue"
      ],
      "Resource": "<MARKETPLACE_SECRET_ARN>"
    }
  ]
}
