{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "DiscoverAgentCoreRuntimeLogGroupsForRetention",
      "Effect": "Allow",
      "Action": "logs:DescribeLogGroups",
      "Resource": "*"
    },
    {
      "Sid": "SetOnlyVersionBoundPhase6RuntimeLogRetention",
      "Effect": "Allow",
      "Action": "logs:PutRetentionPolicy",
      "Resource": "arn:aws:logs:<AWS_REGION>:<AWS_ACCOUNT_ID>:log-group:/aws/bedrock-agentcore/runtimes/mr_lister_phase6-??????????-phase6_v<RUNTIME_VERSION>_<ENVIRONMENT_UNDERSCORE>:*"
    }
  ]
}
